@{
    ViewData["Title"] = "Home Page";
}

<div>
    <p>Enter the Eori to use from the list below</p>
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

@using (Html.BeginForm("GetUserArrivals", "Home"))
{
<div>
</div>
<div>
</div>
}